
.btn{
    color: white;
    background-color: #9388dd;
    text-decoration-line: none;
    border-radius: 50px;
    display: block;
    width: 400px;
    height: 80px;
    text-align: center;
    padding-top: 25px;
    font-size: 40px;
    font-weight: 900;
}

.btn:hover{
    background-color: #533fd4;
}
