
.question {
    font-size: 40px;
    margin: 5px;
}

.link {
    display: flex;
    flex-direction: column;
    text-decoration-line: none;
    align-items: center;
}

.answer {
    background-color: #7164C1;
    color: white;
    margin: 5px;
    font-size: 35px;
    border: 0px;
    border-radius: 20px;
    width: 350px;
}

.answer:hover {
    background-color: #533fd4;
}
